<a href="https://colab.research.google.com/github/xcye515/project1-s22/blob/main/monetDB_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install monetdbe
!pip install monetdblite

Requirement already satisfied: monetdbe in /usr/local/lib/python3.7/dist-packages (0.11)
Requirement already satisfied: cffi>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from monetdbe) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from monetdbe) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from monetdbe) (1.3.5)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.0.0->monetdbe) (2.21)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->monetdbe) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->monetdbe) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->monetdbe) (1.15.0)
Requirement already satisfied: monetdblite in /usr/local/lib/python3.7/dist-packages (0.6.4)
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.7/dist-packages (from monetdblite) (1.21.6)
Requirement already satisfied: pandas>=0.20 in /usr/local/lib/python3.7/dist-packages (from monetdblite) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20->monetdblite) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20->monetdblite) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.20->monetdblite) (1.15.0)

In [ ]:
# python version >= 3.7
!python --version

Python 3.7.13

In [ ]:
from monetdbe import connect, Timestamp

con = connect(autocommit=True)
c = con.cursor()

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
# see all the tables you have

%%sql SELECT *
FROM pg_catalog.pg_tables
WHERE tableowner='xy2527'

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
c.execute("DROP TABLE IF EXISTS Player")

In [ ]:
create_player = """CREATE TABLE Player(
    uid int PRIMARY KEY, 
    username text NOT NULL,
    ability int NOT NULL,
    UNIQUE(uid, username),
    UNIQUE(ability, uid),
    exp int NOT NULL
    );"""


c.execute(create_player)


c.execute("INSERT INTO Player VALUES (1, 'Notch', 10000, 100);")
c.execute("INSERT INTO Player VALUES (2527, 'Estella', 25, 27);")
c.execute("INSERT INTO Player VALUES (100, 'Oliver', 1, 10);")


c.execute("select * from player")
c.fetchdf()

    uid username  ability  exp
0     1    Notch    10000  100
1  2527  Estella       25   27
2   100   Oliver        1   10

In [ ]:
print(c.fetchdf())

    uid username  ability  exp
0     1    Notch    10000  100
1  2527  Estella       25   27
2   100   Oliver        1   10

In [ ]:
del con
del c

# Multiple Clients with MonetDB (Optimistic Concurrency Control vs. Locks + 2PL)

> MonetDB does not use locks. It uses Optimistic Concurrency Control (OCC). For more information on OCC, please refer to the [wiki page](https://github.com/w4111/w4111.github.io/wiki/MonetDB). The gist: reads can happen at the same time. Read can happen at the same time as a write, but the retrieved results can be out-of-sync. Multiple writes can happen at the same time, but only the earliest write can succeed. The rest .

> Now let's see how Optimistic Concurrency Control can be problematic with multiple clients.

In [ ]:
conn1 = connect(autocommit=False)
c1 = conn1.cursor()
c1.execute("INSERT INTO Player VALUES(77,'Ha',10086,23);")

> conn1 has not committedd yet. Let's start a new connection, conn2, to verify this.

In [ ]:
conn2 = connect(autocommit=False)
c2 = conn2.cursor()
c2.execute("select * from Player;")
c2.fetchdf()

    uid username  ability  exp
0     1    Notch    10000  100
1  2527  Estella       25   27
2   100   Oliver        1   10

In [ ]:
del conn2
del c2

> Indeed, conn2's query shows that conn1's effect has not rippled through since it has not been committed. Now let's commit conn1.

In [ ]:
conn1.commit()

In [ ]:
conn2 = connect(autocommit=False)
c2 = conn2.cursor()
c2.execute("select * from Player;")
c2.fetchdf()

    uid username  ability  exp
0     1    Notch    10000  100
1  2527  Estella       25   27
2   100   Oliver        1   10
3    77       Ha    10086   23

In [ ]:
del conn2
del c2

> Now it's all good! In strict 2PL and lock-based control, if a connection is writing to a relation (i.e., has an exclusive lock), other relations cannot read from it. However, MonetDB allows that! It's just that the read transaction will not retrieve up-to-date data.

> Now let's see what happens if two connections write to the same relation concurrently (rollback + error + disaster!).

In [ ]:
conn1 = connect(autocommit=False)
c1 = conn1.cursor()
c1.execute("INSERT INTO Player VALUES(78,'can insert',10086,23);")
conn2 = connect(autocommit=False)
c2 = conn2.cursor()
c2.execute("INSERT INTO Player VALUES(79,'cannot insert',10086,23);")
c1.commit()

try:
  c2.commit()  #comment this line out so that no errors occur
except:
  print("Oops! c2.commit() cannot be executed. Needs to be rolled back.")

SQLException:sql.commit:40000!COMMIT: transaction is aborted because of concurrency conflicts, will ROLLBACK instead

Oops! c2.commit() cannot be executed. Needs to be rolled back.

In [ ]:
del conn1
del conn2
del c1
del c2

> As we can see, if two clients write to a relation at the same time, an error will occur and only the first writter can succeed. Now let's see what will happen if we turn on autocommit mode.

In [ ]:
conn1 = connect(autocommit=True)
c1 = conn1.cursor()
c1.execute("INSERT INTO Player VALUES(80,'can insert',10086,23);")
conn2 = connect(autocommit=True)
c2 = conn2.cursor()
c2.execute("INSERT INTO Player VALUES(81,'can insert too',10086,23);")
del conn1
del conn2
del c1
del c2

In [ ]:
conn1 = connect(autocommit=True)
c1 = conn1.cursor()
c1.execute("select * from Player")
c1.fetchdf()
del conn1
del c1

    uid        username  ability  exp
0     1           Notch    10000  100
1  2527         Estella       25   27
2   100          Oliver        1   10
3    77              Ha    10086   23
4    78      can insert    10086   23
5    80      can insert    10086   23
6    81  can insert too    10086   23

> Yay! Success. Autocommits automatically commits changes, but this also places less control of the database in the programmer's hand. Indeed, there is no free lunch.